<title>Profile Dashboard</title>

<%- include('header-registered.ejs',{Firstname: name}) %>

<section class="dashboard section gback2">
    <!-- Container Start -->
    <div class="container">
      <!-- Row Start -->
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
          <div class="sidebar">
            <!-- User Widget -->
            <div class="wrapper fadeInDown" style="align-items: inherit; min-height: 0%;">
              <div id="formContent" style="padding: 30px; width: 110%; max-width: 800px;">
              <!-- User Image -->
              <div class="profile-thumb">
                <img src="<%= avatar %>" onError="this.onerror=null;this.src='images/user/user-thumb.jpg';" alt="avatar" class="rounded-circle" style="width: 100px; height: 100px;">
              </div>
              <!-- User Name -->
              <h5 class="text-center"><%= name %> </h5>
              <p><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(dateJoined) %></p>
              <a href="/user-profile" class="text-white btn-grad mt-2">Edit Profile</a>
              </div>
            </div>
            <!-- Dashboard Links -->
            <div class="wrapper fadeInDown" style="align-items: inherit; min-height: 0%;">
              <div id="formContent" style="padding: 0px; width: 110%; max-width: 800px;">
            <div class="widget user-dashboard-menu" style="margin-bottom: 0px; padding: 0px; border-radius: inherit;">
              <ul style="margin-bottom: 0px;">
                <li style="margin-bottom: 0px;"><a href="/dashboard"><i class="fa fa-user"></i> My Jobs<span><%= userJobs.length %></span></a></li>
                <li class="active" style="margin-bottom: 0px;"><a href="/accepted-jobs" style="border-radius: 10px; background: #b82af6;"><i class="fa fa-bookmark-o"></i> Accepted Jobs <span><%= acceptedJobs.length %></span></a></li>
              </ul>
            </div>
              </div>
            </div>
  
            <!-- delete-account modal -->
                                      <!-- delete account popup modal start-->
                  <!-- Modal -->
                  <!-- <div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            
                          
                        </div>
                        <div class="modal-body text-center">
                          <img src="images/account/Account1.png" class="img-fluid mb-2" alt="">
                          <h6 class="py-2">Are you sure you want to delete your account?</h6>
                          <p>Once you delete your account this process cannot be undone.</p>
                        </div>
                        <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                          <button type="button" class="btn btn-danger">Delete</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- delete account popup modal end
            delete-account modal -->
  
          </div>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
          <div class="wrapper" style="align-items: inherit;">
            <div id="formContent" style="padding: 30px; width: 110%; max-width: 800px;">
          <!-- Recently Favorited -->
          <div class="widget dashboard-container my-adslist">
            <h3 class="widget-header">Accepted Jobs</h3>
            <table class="table table-responsive product-dashboard-table">
              <thead>
                <tr>
                  <th>Thumbnail</th>
                  <th>Job Title</th>
              
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% for( let i=0; i < acceptedJobs.length; i++ ) { %>
                <tr>

                      <td class="product-thumb">
                        <img width="80px" height="auto" src="<%= acceptedJobs[i].images[0] %>" alt="image description"></td>
                      <td class="product-details">
                        <h3 class="title"> <%= acceptedJobs[i].title %></h3>
                        <span><strong style="width: 50%;">Posted on: </strong><time><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(acceptedJobs[i].createdAt) %></time> </span>
                        <span><strong style="width: 50%;">Credits: </strong><time><%= acceptedJobs[i].credits %></time> </span>
                        <span class="status active"><strong style="width: 50%;">Number of Labellers: </strong> <%= acceptedJobs[i].emailLabellers.length %></span>
                      </td>
                      <td class="action" data-title="Action">
                        <div class="">
                          <ul class="list-inline justify-content-center">
                            <li class="list-inline-item">
                              <a data-placement="top" title="View Job" class="view" data-toggle="modal" data-target="#a<%= acceptedJobs[i]._id %>" style="cursor: pointer;">
                                <i class="fa fa-eye"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <form id="form<%= i %> "action="/cancelJob" method="POST">
                                <input type="hidden" name="jobId" value="<%= acceptedJobs[i]._id %>" />
                                <button class="btn btn-danger-outline" title="Cancel Job" style=" width: 40px; height: 40px; border-radius: 40px; font-size: 14px; text-align: center; display: inline-block;" name="button"><i class="fa fa-minus-circle"></i></button>
                              </form>
                            </li>
                            <!-- <li class="list-inline-item">
                              <a href="/do-job" onclick="location.href=this.href+'/'+ '<%= acceptedJobs[i]._id %>';return false;" class="button">Label Job</a>
                            </li> -->
                          </ul>
                        </div>
                      </td>
                      
                  </tr>
                  <!-- Modal -->
                  <div class="modal fade" id="a<%= acceptedJobs[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="border: 0px;">
                    
                        <div class="modal-body text-center">
                            <h6 class="py-2" style="font-size: 30px;"><%= acceptedJobs[i].title %></h6>
                            <h6 class="py-2" style="padding-bottom: 0;">Image Previews:</h6>
                            <div class="w3-content w3-display-container" style="padding: inherit; overflow: auto; display: inline-flex;">
                            <img class="<%= acceptedJobs[i]._id %>" src="<%= acceptedJobs[i].images[0] %>" style="width:100%; padding: inherit;">
                            <img class="<%= acceptedJobs[i]._id %>" src="<%= acceptedJobs[i].images[1] %>" style="width:100%; padding: inherit;">
                            <img class="<%= acceptedJobs[i]._id %>" src="<%= acceptedJobs[i].images[2] %>" style="width:100%; padding: inherit;">
                            <img class="<%= acceptedJobs[i]._id %>" src="<%= acceptedJobs[i].images[3] %>" style="width:100%; padding: inherit;">
                            

                            </div>
                            <h6 class="py-2" style="padding-top: 10px;">Credits: <%= acceptedJobs[i].credits %> | Job Owner: <%= acceptedJobs[i].emailOwner %></h6>
                            <h6 style="overflow-wrap: break-word;"><%= acceptedJobs[i].description %></h6>
                        </div>

                        <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center" style="align-items: baseline;">
                          <div style="justify-content: center!important;">
                            <a href="/do-job" onclick="location.href=this.href+'/'+ '<%= acceptedJobs[i]._id %>';return false;" class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test" style="display: initial; " name="button">Label Job</a>
                            
                          </div>
                          <div style="justify-content: center!important;">
                              <button type="button" class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test" style="display: initial; background-image: linear-gradient(to right, #7c7c7c, #4d4d4d 51%, #7c7c7c 100%)!important;" data-dismiss="modal">Back</button>
                              
                          </div>

                        </div>
                        
                        </div>
                    </div>
                    </div>
                  <% } %>
                <tr>
  
                 
                 
  
                 
  
            
              </tbody>
            </table>
  
          </div>
  
          <!-- 
          <div class="pagination justify-content-center">
                      <nav aria-label="Page navigation example">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only">Previous</span>
                                  </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item active"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">Next</span>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
           pagination -->
            </div>
          </div>
        </div>
          
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </section>
<style>
  .btn.btn-danger-outline{
    background-color: #f7f7f7;
    b;
    border-color: white;
  }
  .btn-danger-outline:hover{
    background-color: #c82333;
    border-color: #bd2130;
  }
</style>
<%- include('footer') %> 