<title>Find A Job</title>

<% if (authenticated) { %>
    <%- include('header-registered.ejs',{Firstname: name}) %> 
        <% }else{ %>
            <%- include('header.ejs') %>
                <% } %>

                <div class="page-hero-image" style="background-image: url(/images/hero.jpg); height: 260px;">
                    <h1 style="color: #ffffff; font-size: 36px;">Explore Label.ml’s Available Jobs</h1>
                    <p><span style="color: #ffffff; font-size: 18px;">All available jobs for you to start labelling now!</span></p>
              <!-- <p><span style="color: #ffffff;">All available jobs for you to start labelling!</span></p> -->
                  </div>

                    <!-- Variable allJobs contains all the jobs that we fetch from the database, it is logged in the console of the node app -->

                    <!-- <section class="page-search">
                         <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                     Advance Search
                                    <div class="advance-search">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <input type="text" class="form-control my-2 my-lg-1" id="inputtext4"
                                                        placeholder="Search for a data labeling job:">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <select class="w-100 form-control mt-lg-1 mt-md-2">
                                                        <option>No. of Credits</option>
                                                        <option value="1">0-500</option>
                                                        <option value="2">500-2000</option>
                                                        <option value="2">2000+</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <input type="text" class="form-control my-2 my-lg-0"
                                                        id="inputLocation4" placeholder="Location">
                                                </div>
                                                <div class="form-group col-md-2">

                                                    <button type="submit" class="btn btn-primary">Search Now</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->


                    <section class="section-sm">
                        <div class="container" style="max-width: 1500px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="search-result bg-gray">
                                        <h2>See All our Listings!</h2>
                                        
                                        <p>
                                            <%= allJobs.length %> results on
                                                <!-- this span displaysthe current date -->
                                                <span id="currentDate"></span>
                                        </p>
                                        <label for="Jobs">Order Jobs By:</label>
                                            <select name="Jobs" id="Sort">
                                            <option value="Credits-a">Credits Ascending</option>
                                            <option value="Credits-d">Credits Descending</option>
                                            <option value="Recent">Most Recent</option>
                                            <option value="Title">Job Title</option>
                                            </select>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <div class="category-sidebar">
                                         <div class="widget category-list">
                        <h4 class="widget-header">All Category</h4>
                        <ul class="category-list">
                            <li><a href="category.html">Laptops <span>93</span></a></li>
                            <li><a href="category.html">Iphone <span>233</span></a></li>
                            <li><a href="category.html">Microsoft <span>183</span></a></li>
                            <li><a href="category.html">Monitors <span>343</span></a></li>
                        </ul>
                    </div> -->
                                <!-- <div class="widget category-list">
                        <h4 class="widget-header">Nearby</h4>
                        <ul class="category-list">
                            <li><a href="category.html">New York <span>93</span></a></li>
                            <li><a href="category.html">New Jersy <span>233</span></a></li>
                            <li><a href="category.html">Florida <span>183</span></a></li>
                            <li><a href="category.html">California <span>120</span></a></li>
                            <li><a href="category.html">Texas <span>40</span></a></li>
                            <li><a href="category.html">Alaska <span>81</span></a></li>
                        </ul>
                    </div> -->
                                <!-- <div class="widget filter">
                                            <h4 class="widget-header">Show Products</h4>
                                            <select>
                                                <option>Popularity</option>
                                                <option value="1">Top rated</option>
                                                <option value="2">Lowest Price</option>
                                                <option value="4">Highest Price</option>
                                            </select>
                                        </div> -->
                                <!-- <div class="widget price-range w-100">
                        <h4 class="widget-header">Price Range</h4>
                        <div class="block">
                            <input class="range-track w-100" type="text" data-slider-min="0" data-slider-max="5000"
                                data-slider-step="5" data-slider-value="[0,5000]">
                            <div class="d-flex justify-content-between mt-2">
                                <span class="value">$10 - $5000</span>
                            </div>
                        </div>
                    </div> -->
                                <!-- <div class="widget product-shorting">
                        <h4 class="widget-header">By Condition</h4>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Brand New
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Almost New
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Gently New
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Havely New
                            </label>
                        </div>
                    </div> -->
                            </div>
                            <!-- changed the display size to 12 because we want everything to show 
                                nice and large -->
                            <div class="col-md-12">
                                <!-- <div class="category-search-filter">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Short</strong>
                                                <select>
                                                    <option>Most Recent</option>
                                                    <option value="1">Most Popular</option>
                                                    <option value="2">Lowest Price</option>
                                                    <option value="4">Highest Price</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="view">
                                                    <strong>Views</strong>
                                                    <ul class="list-inline view-switcher">
                                                        <li class="list-inline-item">
                                                            <a href="#" onclick="event.preventDefault();"
                                                                class="text-info"><i class="fa fa-th-large"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="ad-list-view.html"><i
                                                                    class="fa fa-reorder"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                <div class="product-grid-list">
                                    <div class="row mt-30">
                                        <script>
                                           if (document.getElementById("Sort").value=="Credits-a"){
                                                let n = "<%= allJobs.length %>";
                                                console.log(n)
        
                                            //      for(let i = 0; i < n; i++) { 
                                            //     // Finding the smallest number in the subarray
                                            //      let min = i;
                                            //      for(let j = i+1; j < n; j++){
                                            //          if( allJobs[i].credits <  allJobs[min].credits ) { 
                                            //              min=j 
                                            //         }
                                            //     } 
                                            //      if (min != i) { 
                                            //         // Swapping the elements
                                            //          let tmp  =  allJobs[i]   
                                            //          allJobs[i] =  allJobs[min] 
                                            //          allJobs[min] = tmp;      
                                            //     }
                                            // } 
                                            }
                                            
                                        </script>
                                        
                                        <% for( let i=0; i < allJobs.length; i++ ) { %>
                                            <div class="col-sm-12 col-lg-4 col-md-6">
                                                <!-- product card -->
                                                <div class="product-item bg-light">
                                                    <div class="card">
                                                        <div class="thumb-content">
                                                            <!-- <div class="price">$200</div> -->
                                                            <a href="" data-toggle="modal" data-target="#a<%= allJobs[i]._id %>">
                                                                <img class="card-img-top img-fluid"
                                                                    src="<%=allJobs[i].images[0]%>" 
                                                                    alt="Card image cap">
                                                            </a>
                                                        </div>

                                                        <div class="card-body" style="height: 70;">
                                                            <h4 class="card-title"><a href="" data-toggle="modal" data-target="#a<%= allJobs[i]._id %>"> </a>
                                                                <%= allJobs[i].title %>
                                                            </h4>
                                                            <ul class="list-inline product-meta">
                                                                <li class="flex-row list-inline-item">
                                                                    <a href="" data-toggle="modal" data-target="#a<%= allJobs[i]._id %>"><i
                                                                            class="fa fa-folder-open-o"></i>Images
                                                                             
                                                                    </a>
                                                                </li>
                                                                <li class="flex-row list-inline-item ">
                                                                    <a href="#" class="link-primary"><i
                                                                            class="fa fa-dollar"></i>
                                                                        <% if (allJobs[i].credits) { %>
                                                                            <%= allJobs[i].credits %>
                                                                                <% } else { %>
                                                                                    <%= 0 %>
                                                                                        <% } %>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <form action="/acceptJob" method="POST">
                                                            <input type="hidden" name="jobId" value="a<%= allJobs[i]._id %>" />
                                                            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                                <div class="modal fade" id="a<%= allJobs[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content" style="border: 0px;">
                                                
                                                    <div class="modal-body text-center">
                                                        <h6 class="py-2" style="font-size: 30px;"><%= allJobs[i].title %></h6>
                                                        <h6 class="py-2" style="padding-bottom: 0;">Image Previews:</h6>
                                                        <div class="w3-content w3-display-container" style="padding: inherit; overflow: auto; display: inline-flex;">
                                                        <img class="<%= allJobs[i]._id %>" src="<%= allJobs[i].images[0] %>" style="width:100%; padding: inherit;">
                                                        <img class="<%= allJobs[i]._id %>" src="<%= allJobs[i].images[1] %>" style="width:100%; padding: inherit;">
                                                        <img class="<%= allJobs[i]._id %>" src="<%= allJobs[i].images[2] %>" style="width:100%; padding: inherit;">
                                                        <img class="<%= allJobs[i]._id %>" src="<%= allJobs[i].images[3] %>" style="width:100%; padding: inherit;">
                                                        

                                                        </div>
                                                        <h6 class="py-2" style="padding-top: 10px;">Credits: <%= allJobs[i].credits %> | Job Owner: <%= allJobs[i].emailOwner %></h6>
                                                        <h6 style="overflow-wrap: break-word;"><%= allJobs[i].description %></h6>
                                                    </div>
                                                    <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                                                        <!-- <button type="button" class="btn btn-success">Accept Job</button> -->
                                                        <% if(authenticated){ %> 
                                                        <form action="/acceptJob" method="POST">
                                                            <input type="hidden" name="jobId" value="<%= allJobs[i]._id %>" />
                                                            <button class="btn btn-success" name="button">Accept Job</button>
                                                        </form>
                                                        <% } else{ %>
                                                            <a class="btn btn-success" href="/login">Accept Job</a>
                                                            <% } %>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                                        
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <!-- delete account popup modal end-->
                                                    <!-- delete-account modal -->
                                            <% } %>
                                    </div>
                                </div>
                                <!-- <div class="pagination justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item "><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div> -->
                            </div>
                        </div>
                        </div>
                        
                    </section>
                    <script>
                        var day = new Date();
                        var monthNum = new Date();
                        var year = new Date();
                        //have to create a month array becasue js returns the number of the month when you access the month object 
                        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        document.getElementById("currentDate").innerHTML = day.getDate();
                        document.getElementById("currentDate").innerHTML += " " + months[monthNum.getMonth()];
                        document.getElementById("currentDate").innerHTML += " " + year.getFullYear();
                    </script>
                    <% if (authenticated) { %>
                        <%- include('footer.ejs') %>
                            <% }else{ %>
                                <%- include('footer-unregistered.ejs') %>
                                    <% } %>