<title>Find A Job</title>

<% if (authenticated) { %>
    <%- include('header-registered.ejs',{Firstname: name}) %>
        <% }else{ %>
            <%- include('header.ejs') %>
                <% } %>

                    <div class="page-hero-image" style="background-image: url(/images/hero.jpg); height: 260px;">
                        <h1 style="color: #ffffff; font-size: 36px;">Explore Label.ml’s Available Jobs</h1>
                        <p><span style="color: #ffffff; font-size: 18px;">All available jobs for you to start labelling
                                now!</span></p>
                        <!-- <p><span style="color: #ffffff;">All available jobs for you to start labelling!</span></p> -->
                    </div>


                    <section id="allJobs_section" class="section-sm">
                        <div class="container" style="max-width: 1500px;">
                            <div class="row">
                                <div class="col-md-12" style="display: flex; justify-content: space-between;">
                                    <div>
                                        <h2>See All our Listings!</h2>
                                        <p style="padding-left: 20px;">
                                            <%= allJobs.length %> results on
                                                <!-- this span displaysthe current date -->
                                                <span id="currentDate"></span>
                                        </p>
                                    </div>
                                    <div>
                                        <p style="padding-left: 20px;">
                                            Order Jobs By:
                                        </p>

                                        <select style="display: block;" name="Jobs" id="Sort" onchange="sort()">
                                            <option value="jobsRecent">Most Recent</option>
                                            <option value="jobsCreditsAsc">Credits Ascending</option>
                                            <option value="jobsCreditsDesc">Credits Descending</option>
                                            <option value="jobsTitleAsc">Job Title</option>
                                        </select>
                                    </div>


                                </div>

                            </div>


                            <script>
                                


                                function sort(){

                                    var sort = document.getElementById('Sort').value
                                    if(sort == 'jobsRecent'){
                                        document.getElementById('jobsRecent').style.display = 'block'
                                        document.getElementById('jobsCreditsAsc').style.display = 'none'
                                        document.getElementById('jobsCreditsDesc').style.display = 'none'
                                        document.getElementById('jobsTitleAsc').style.display = 'none'
                                    }
                                    else if(sort == 'jobsCreditsAsc'){
                                        document.getElementById('jobsRecent').style.display = 'none'
                                        document.getElementById('jobsCreditsAsc').style.display = 'block'
                                        document.getElementById('jobsCreditsDesc').style.display = 'none'
                                        document.getElementById('jobsTitleAsc').style.display = 'none'
                                    }
                                    else if(sort == 'jobsCreditsDesc'){
                                        document.getElementById('jobsRecent').style.display = 'none'
                                        document.getElementById('jobsCreditsAsc').style.display = 'none'
                                        document.getElementById('jobsCreditsDesc').style.display = 'block'
                                        document.getElementById('jobsTitleAsc').style.display = 'none'
                                    }
                                    else if(sort == 'jobsTitleAsc'){
                                        document.getElementById('jobsRecent').style.display = 'none'
                                        document.getElementById('jobsCreditsAsc').style.display = 'none'
                                        document.getElementById('jobsCreditsDesc').style.display = 'none'
                                        document.getElementById('jobsTitleAsc').style.display = 'block'
                                    }

                                }
                            </script>



                            <div class="row">
                                <!--JOBS RECENT-->
                                <div id="jobsRecent" class="product-grid-list">
                                    <div class="row mt-30">
                                        <% for( let i=0; i < allJobsCreationAsc.length; i++ ) { %>
                                            <div class="col-sm-12 col-lg-4 col-md-6">
                                                <!-- product card -->
                                                <div class="product-item bg-light">
                                                    <div class="card">
                                                        <div class="thumb-content">
                                                            <!-- <div class="price">$200</div> -->
                                                            <a href="" data-toggle="modal"
                                                                data-target="#a<%= allJobsCreationAsc[i]._id %>">
                                                                <img class="card-img-top img-fluid"
                                                                    src="<%=allJobsCreationAsc[i].images[0]%>"
                                                                    alt="Card image cap" style="height: 250;">
                                                            </a>
                                                        </div>

                                                        <div class="card-body" style="height: 70;">
                                                            <h4 class="card-title"><a href="" data-toggle="modal"
                                                                    data-target="#a<%= allJobsCreationAsc[i]._id %>"> </a>
                                                                <%= allJobsCreationAsc[i].title %>
                                                            </h4>
                                                            <ul class="list-inline product-meta">
                                                                <li class="flex-row list-inline-item">
                                                                    <a href="" data-toggle="modal"
                                                                        data-target="#a<%= allJobsCreationAsc[i]._id %>"><i
                                                                            class="fa fa-folder-open-o"></i>Images

                                                                    </a>
                                                                </li>
                                                                <li class="flex-row list-inline-item ">
                                                                    <a href="#" class="link-primary"><i
                                                                            class="fa fa-dollar"></i>
                                                                        <% if (allJobsCreationAsc[i].credits) { %>
                                                                            <%= allJobsCreationAsc[i].credits %>
                                                                                <% } else { %>
                                                                                    <%= 0 %>
                                                                                        <% } %>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <form action="/acceptJob" method="POST">
                                                            <input type="hidden" name="jobId"
                                                                value="a<%= allJobsCreationAsc[i]._id %>" />

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="a<%= allJobsCreationAsc[i]._id %>" tabindex="-1"
                                                role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content" style="border: 0px;">

                                                        <div class="modal-body text-center">
                                                            <h6 class="py-2" style="font-size: 30px;">
                                                                <%= allJobsCreationAsc[i].title %>
                                                            </h6>
                                                            <h6 class="py-2" style="padding-bottom: 0;">Image Previews:
                                                            </h6>
                                                            <div class="w3-content w3-display-container"
                                                                style="padding: inherit; overflow: auto; display: inline-flex;">
                                                                <img class="<%= allJobsCreationAsc[i]._id %>"
                                                                    src="<%= allJobsCreationAsc[i].images[0] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreationAsc[i]._id %>"
                                                                    src="<%= allJobsCreationAsc[i].images[1] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreationAsc[i]._id %>"
                                                                    src="<%= allJobsCreationAsc[i].images[2] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreationAsc[i]._id %>"
                                                                    src="<%= allJobsCreationAsc[i].images[3] %>"
                                                                    style="width:100%; padding: inherit;">


                                                            </div>
                                                            <div
                                                                style="display: flex;justify-content: space-around; padding: inherit;">

                                                                <h6 class="py-2" style="padding-top: 10px;">Job Owner:
                                                                    <%= allJobsCreationAsc[i].emailOwner %>
                                                                </h6>
                                                                <h6 class="py-2" style="padding-top: 10px;">Credits: <%=
                                                                    allJobsCreationAsc[i].credits %>
                                                                </h6>

                                                            </div>
                                                            <h6 class="py-2" style="padding-bottom: 0;">Description:
                                                            </h6>
                                                            <h6 style="overflow-wrap: break-word;">
                                                                <%= allJobsCreationAsc[i].description %>
                                                            </h6>
                                                        </div>
                                                        <div
                                                            class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                                                            <!-- <button type="button" class="btn btn-success">Accept Job</button> -->
                                                            <% if(authenticated){ %>
                                                                <form action="/acceptJob" method="POST">
                                                                    <input type="hidden" name="jobId"
                                                                        value="<%= allJobsCreationAsc[i]._id %>" />
                                                                    <button class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test" style="display: initial; " name="button">Accept
                                                                        Job</button>
                                                                </form>
                                                                <% } else{ %>
                                                                    <a class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test" style="display: initial; " href="/login">Accept
                                                                        Job</a>
                                                                    <% } %>
                                                                        <button type="button" class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test" style="display: initial; background-image: linear-gradient(to right, #7c7c7c, #4d4d4d 51%, #7c7c7c 100%)!important;"
                                                                            data-dismiss="modal">Cancel</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>






                                <!--JOBS CREDITS ASC-->

                                <div id="jobsCreditsAsc" class="product-grid-list" style="display: none;">
                                    <div class="row mt-30">
                                        <% for( let i=0; i < allJobsCreditsAsc.length; i++ ) { %>
                                            <div class="col-sm-12 col-lg-4 col-md-6">
                                                <!-- product card -->
                                                <div class="product-item bg-light">
                                                    <div class="card">
                                                        <div class="thumb-content">
                                                            <!-- <div class="price">$200</div> -->
                                                            <a href="" data-toggle="modal"
                                                                data-target="#a<%= allJobsCreditsAsc[i]._id %>">
                                                                <img class="card-img-top img-fluid"
                                                                    src="<%=allJobsCreditsAsc[i].images[0]%>"
                                                                    alt="Card image cap" style="height: 250;">
                                                            </a>
                                                        </div>

                                                        <div class="card-body" style="height: 70;">
                                                            <h4 class="card-title"><a href="" data-toggle="modal"
                                                                    data-target="#a<%= allJobsCreditsAsc[i]._id %>"> </a>
                                                                <%= allJobsCreditsAsc[i].title %>
                                                            </h4>
                                                            <ul class="list-inline product-meta">
                                                                <li class="flex-row list-inline-item">
                                                                    <a href="" data-toggle="modal"
                                                                        data-target="#a<%= allJobsCreditsAsc[i]._id %>"><i
                                                                            class="fa fa-folder-open-o"></i>Images

                                                                    </a>
                                                                </li>
                                                                <li class="flex-row list-inline-item ">
                                                                    <a href="#" class="link-primary"><i
                                                                            class="fa fa-dollar"></i>
                                                                        <% if (allJobsCreditsAsc[i].credits) { %>
                                                                            <%= allJobsCreditsAsc[i].credits %>
                                                                                <% } else { %>
                                                                                    <%= 0 %>
                                                                                        <% } %>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <form action="/acceptJob" method="POST">
                                                            <input type="hidden" name="jobId"
                                                                value="a<%= allJobsCreditsAsc[i]._id %>" />

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="a<%= allJobsCreditsAsc[i]._id %>" tabindex="-1"
                                                role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content" style="border: 0px;">

                                                        <div class="modal-body text-center">
                                                            <h6 class="py-2" style="font-size: 30px;">
                                                                <%= allJobsCreditsAsc[i].title %>
                                                            </h6>
                                                            <h6 class="py-2" style="padding-bottom: 0;">Image Previews:
                                                            </h6>
                                                            <div class="w3-content w3-display-container"
                                                                style="padding: inherit; overflow: auto; display: inline-flex;">
                                                                <img class="<%= allJobsCreditsAsc[i]._id %>"
                                                                    src="<%= allJobsCreditsAsc[i].images[0] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreditsAsc[i]._id %>"
                                                                    src="<%= allJobsCreditsAsc[i].images[1] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreditsAsc[i]._id %>"
                                                                    src="<%= allJobsCreditsAsc[i].images[2] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreditsAsc[i]._id %>"
                                                                    src="<%= allJobsCreditsAsc[i].images[3] %>"
                                                                    style="width:100%; padding: inherit;">


                                                            </div>
                                                            <div
                                                                style="display: flex;justify-content: space-around; padding: inherit;">

                                                                <h6 class="py-2" style="padding-top: 10px;">Job Owner:
                                                                    <%= allJobsCreditsAsc[i].emailOwner %>
                                                                </h6>
                                                                <h6 class="py-2" style="padding-top: 10px;">Credits: <%=
                                                                    allJobsCreditsAsc[i].credits %>
                                                                </h6>

                                                            </div>
                                                            <h6 class="py-2" style="padding-bottom: 0;">Description:
                                                            </h6>
                                                            <h6 style="overflow-wrap: break-word;">
                                                                <%= allJobsCreditsAsc[i].description %>
                                                            </h6>
                                                        </div>
                                                        <div
                                                            class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                                                            <!-- <button type="button" class="btn btn-success">Accept Job</button> -->
                                                            <% if(authenticated){ %>
                                                                <form action="/acceptJob" method="POST">
                                                                    <input type="hidden" name="jobId"
                                                                        value="<%=allJobsCreditsAsc[i]._id %>" />
                                                                    <button class="btn btn-success" name="button">Accept
                                                                        Job</button>
                                                                </form>
                                                                <% } else{ %>
                                                                    <a class="btn btn-success" href="/login">Accept
                                                                        Job</a>
                                                                    <% } %>
                                                                        <button type="button" class="btn btn-primary"
                                                                            data-dismiss="modal">Cancel</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>



                                <!--JOBS CREDITS DESC-->


                                <div id="jobsCreditsDesc" class="product-grid-list" style="display: none;">
                                    <div class="row mt-30">
                                        <% for( let i=0; i < allJobsCreditsDesc.length; i++ ) { %>
                                            <div class="col-sm-12 col-lg-4 col-md-6">
                                                <!-- product card -->
                                                <div class="product-item bg-light">
                                                    <div class="card">
                                                        <div class="thumb-content">
                                                            <!-- <div class="price">$200</div> -->
                                                            <a href="" data-toggle="modal"
                                                                data-target="#a<%= allJobsCreditsDesc[i]._id %>">
                                                                <img class="card-img-top img-fluid"
                                                                    src="<%=allJobsCreditsDesc[i].images[0]%>"
                                                                    alt="Card image cap" style="height: 250;">
                                                            </a>
                                                        </div>

                                                        <div class="card-body" style="height: 70;">
                                                            <h4 class="card-title"><a href="" data-toggle="modal"
                                                                    data-target="#a<%= allJobsCreditsDesc[i]._id %>"> </a>
                                                                <%= allJobsCreditsDesc[i].title %>
                                                            </h4>
                                                            <ul class="list-inline product-meta">
                                                                <li class="flex-row list-inline-item">
                                                                    <a href="" data-toggle="modal"
                                                                        data-target="#a<%= allJobsCreditsDesc[i]._id %>"><i
                                                                            class="fa fa-folder-open-o"></i>Images

                                                                    </a>
                                                                </li>
                                                                <li class="flex-row list-inline-item ">
                                                                    <a href="#" class="link-primary"><i
                                                                            class="fa fa-dollar"></i>
                                                                        <% if (allJobsCreditsDesc[i].credits) { %>
                                                                            <%= allJobsCreditsDesc[i].credits %>
                                                                                <% } else { %>
                                                                                    <%= 0 %>
                                                                                        <% } %>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <form action="/acceptJob" method="POST">
                                                            <input type="hidden" name="jobId"
                                                                value="a<%= allJobsCreditsDesc[i]._id %>" />

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="a<%= allJobsCreditsDesc[i]._id %>" tabindex="-1"
                                                role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content" style="border: 0px;">

                                                        <div class="modal-body text-center">
                                                            <h6 class="py-2" style="font-size: 30px;">
                                                                <%= allJobsCreditsDesc[i].title %>
                                                            </h6>
                                                            <h6 class="py-2" style="padding-bottom: 0;">Image Previews:
                                                            </h6>
                                                            <div class="w3-content w3-display-container"
                                                                style="padding: inherit; overflow: auto; display: inline-flex;">
                                                                <img class="<%= allJobsCreditsDesc[i]._id %>"
                                                                    src="<%= allJobsCreditsDesc[i].images[0] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreditsDesc[i]._id %>"
                                                                    src="<%= allJobsCreditsDesc[i].images[1] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreditsDesc[i]._id %>"
                                                                    src="<%= allJobsCreditsDesc[i].images[2] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsCreditsDesc[i]._id %>"
                                                                    src="<%= allJobsCreditsDesc[i].images[3] %>"
                                                                    style="width:100%; padding: inherit;">


                                                            </div>
                                                            <div
                                                                style="display: flex;justify-content: space-around; padding: inherit;">

                                                                <h6 class="py-2" style="padding-top: 10px;">Job Owner:
                                                                    <%= allJobsCreditsDesc[i].emailOwner %>
                                                                </h6>
                                                                <h6 class="py-2" style="padding-top: 10px;">Credits: <%=
                                                                    allJobsCreditsDesc[i].credits %>
                                                                </h6>

                                                            </div>
                                                            <h6 class="py-2" style="padding-bottom: 0;">Description:
                                                            </h6>
                                                            <h6 style="overflow-wrap: break-word;">
                                                                <%= allJobsCreditsDesc[i].description %>
                                                            </h6>
                                                        </div>
                                                        <div
                                                            class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                                                            <!-- <button type="button" class="btn btn-success">Accept Job</button> -->
                                                            <% if(authenticated){ %>
                                                                <form action="/acceptJob" method="POST">
                                                                    <input type="hidden" name="jobId"
                                                                        value="<%= allJobsCreditsDesc[i]._id %>" />
                                                                    <button class="btn btn-success" name="button">Accept
                                                                        Job</button>
                                                                </form>
                                                                <% } else{ %>
                                                                    <a class="btn btn-success" href="/login">Accept
                                                                        Job</a>
                                                                    <% } %>
                                                                        <button type="button" class="btn btn-primary"
                                                                            data-dismiss="modal">Cancel</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>




                                <!--JOBS TITLE-->


                                <div id="jobsTitleAsc" class="product-grid-list" style="display: none;">
                                    <div class="row mt-30">
                                        <% for( let i=0; i < allJobsTitlesAsc.length; i++ ) { %>
                                            <div class="col-sm-12 col-lg-4 col-md-6">
                                                <!-- product card -->
                                                <div class="product-item bg-light">
                                                    <div class="card">
                                                        <div class="thumb-content">
                                                            <!-- <div class="price">$200</div> -->
                                                            <a href="" data-toggle="modal"
                                                                data-target="#a<%= allJobsTitlesAsc[i]._id %>">
                                                                <img class="card-img-top img-fluid"
                                                                    src="<%=allJobsTitlesAsc[i].images[0]%>"
                                                                    alt="Card image cap" style="height: 250;">
                                                            </a>
                                                        </div>

                                                        <div class="card-body" style="height: 70;">
                                                            <h4 class="card-title"><a href="" data-toggle="modal"
                                                                    data-target="#a<%= allJobsTitlesAsc[i]._id %>"> </a>
                                                                <%= allJobsTitlesAsc[i].title %>
                                                            </h4>
                                                            <ul class="list-inline product-meta">
                                                                <li class="flex-row list-inline-item">
                                                                    <a href="" data-toggle="modal"
                                                                        data-target="#a<%= allJobsTitlesAsc[i]._id %>"><i
                                                                            class="fa fa-folder-open-o"></i>Images

                                                                    </a>
                                                                </li>
                                                                <li class="flex-row list-inline-item ">
                                                                    <a href="#" class="link-primary"><i
                                                                            class="fa fa-dollar"></i>
                                                                        <% if (allJobsTitlesAsc[i].credits) { %>
                                                                            <%= allJobsTitlesAsc[i].credits %>
                                                                                <% } else { %>
                                                                                    <%= 0 %>
                                                                                        <% } %>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <form action="/acceptJob" method="POST">
                                                            <input type="hidden" name="jobId"
                                                                value="a<%= allJobsTitlesAsc[i]._id %>" />

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="a<%= allJobsTitlesAsc[i]._id %>" tabindex="-1"
                                                role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content" style="border: 0px;">

                                                        <div class="modal-body text-center">
                                                            <h6 class="py-2" style="font-size: 30px;">
                                                                <%= allJobsTitlesAsc[i].title %>
                                                            </h6>
                                                            <h6 class="py-2" style="padding-bottom: 0;">Image Previews:
                                                            </h6>
                                                            <div class="w3-content w3-display-container"
                                                                style="padding: inherit; overflow: auto; display: inline-flex;">
                                                                <img class="<%= allJobsTitlesAsc[i]._id %>"
                                                                    src="<%= allJobsTitlesAsc[i].images[0] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsTitlesAsc[i]._id %>"
                                                                    src="<%= allJobsTitlesAsc[i].images[1] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsTitlesAsc[i]._id %>"
                                                                    src="<%= allJobsTitlesAsc[i].images[2] %>"
                                                                    style="width:100%; padding: inherit;">
                                                                <img class="<%= allJobsTitlesAsc[i]._id %>"
                                                                    src="<%= allJobsTitlesAsc[i].images[3] %>"
                                                                    style="width:100%; padding: inherit;">


                                                            </div>
                                                            <div
                                                                style="display: flex;justify-content: space-around; padding: inherit;">

                                                                <h6 class="py-2" style="padding-top: 10px;">Job Owner:
                                                                    <%= allJobsTitlesAsc[i].emailOwner %>
                                                                </h6>
                                                                <h6 class="py-2" style="padding-top: 10px;">Credits: <%=
                                                                    allJobsTitlesAsc[i].credits %>
                                                                </h6>

                                                            </div>
                                                            <h6 class="py-2" style="padding-bottom: 0;">Description:
                                                            </h6>
                                                            <h6 style="overflow-wrap: break-word;">
                                                                <%= allJobsTitlesAsc[i].description %>
                                                            </h6>
                                                        </div>
                                                        <div
                                                            class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                                                            <!-- <button type="button" class="btn btn-success">Accept Job</button> -->
                                                            <% if(authenticated){ %>
                                                                <form action="/acceptJob" method="POST">
                                                                    <input type="hidden" name="jobId"
                                                                        value="<%= allJobsTitlesAsc[i]._id %>" />
                                                                    <button class="btn btn-success" name="button">Accept
                                                                        Job</button>
                                                                </form>
                                                                <% } else{ %>
                                                                    <a class="btn btn-success" href="/login">Accept
                                                                        Job</a>
                                                                    <% } %>
                                                                        <button type="button" class="btn btn-primary"
                                                                            data-dismiss="modal">Cancel</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    </section>
                    <script>
                        var day = new Date();
                        var monthNum = new Date();
                        var year = new Date();
                        //have to create a month array becasue js returns the number of the month when you access the month object 
                        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        document.getElementById("currentDate").innerHTML = day.getDate();
                        document.getElementById("currentDate").innerHTML += " " + months[monthNum.getMonth()];
                        document.getElementById("currentDate").innerHTML += " " + year.getFullYear();
                    </script>
                    <% if (authenticated) { %>
                        <%- include('footer.ejs') %>
                            <% }else{ %>
                                <%- include('footer-unregistered.ejs') %>
                                    <% } %>