<title>Label Job</title>

<% if (authenticated) { %>
    <%- include('header-registered.ejs',{Firstname: name}) %>
        <% }else{ %>
            <%- include('header.ejs') %>
                <% } %>
                    <section class="py-5 gback3">
                        <div class="container " style="display: inline-flex; padding-left: 13%;">
                            <!-- <div class="row m-10"> -->


                                <div class="wrapper fadeInDown" style="width: auto; padding: 0;">
                                    <div id="formContent"
                                        style="padding: 0px; max-width: 900px; border-radius: 20px; text-align: inherit;">
                                        <div id="image-section" class="col-9 " style="max-width: 100%;">
                                            <div class="row" style="padding: 0px;">

                                                <div class="slideshow-container" style="width: 1000px; height: 500px;">
                                                    <div id="jobCompleted" style="display: none;">
                                                        <label style="position: absolute; top: 150; left: 75; text-align: center; font-size: xxx-large;">This Job Has Been Completed!</label>
                                                        <a class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test" style="display: initial; position: absolute; bottom: 150; left: 275;" href="/dashboard">Dashboard</a>
                                                    </div>
                                                    
                                                    <% for( let index=0; index < labellingData.length; index++ ) { %>
                                                        <div class="mySlides fadepic" style="width: 100%; height: 100%; text-align: center; justify-content: center; position: relative;">

                                                            <div class="numbertext"
                                                                style="z-index: 1; position: inherit; top: -35;">
                                                                Image <%=index+1 %>/
                                                                    <%= labellingData.length %>
                                                            </div>
                                                            <img src="<%=labellingData[index].imgUrl  %>"
                                                                style="max-width:100%; max-height: 100%; border-radius: 20px; top: 0; left: 0; right: 0; bottom: 0; position: absolute; margin: auto;">

                                                        </div>
                                                        <% } %>
                                                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                
                                <div id="labelForm2" class="wrapper fadeInDown" style="width: auto; padding: 0;">
                                    <div id="formContent" style="padding: 20px; width: min-content; max-width: 800px;">
                                        <label style="font-size: inherit; font-weight: 100; color: black;">Select
                                            Label</label>
                                        <div id="Labels-section" class="col-3 p-20 d-flex align-middle flex-column "
                                            style="text-align: center;">

                                            <div class="container align-middle "
                                                style="max-width: min-content; padding: 20px; margin-top: 5%;">
                                                <form id="labelForm" action="/job-label-update" method="POST">
                                                    <div class="radio-toolbar">
                                                        <input type="hidden" id="currentUrl" value="" name="currentUrl" />
                                                        <input type="hidden" id="imgIndex" value="" name="imgIndex" />
                                                        <% for( let i=0; i < labels.length; i++ ) { %>
                                                            <input type="radio" id="<%=labels[i]%>" name="radio" onclick="sendLabel()" value="<%=labels[i]%>">
                                                            <label for="<%=labels[i]%>" style="width: 100;">
                                                                <%= labels[i] %>
                                                            </label>
                                                        <% } %>

                                                                <input type="radio" onclick="sendLabel('other')" id="other"
                                                                    name="radio" value="other">
                                                                <label for="other" style="width: 100; ">Other</label>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>



                        <script>


                        "<% var startLabelIndex %>"
                        "<% var jobComplete = true %>"
                        
                        "<% for( let j=0; j < labellingData.length; j++ ) { %>"
                            "<% if(labellingData[j].label == null) {%>" 
                                "<% startLabelIndex = j%>"
                                "<% jobComplete = false %>"
                                "<% break %>"
                            "<% } %>"
                        "<% } %>"


                        "<% var labels = [] %>"
                        "<% for( let k=0; k < labellingData.length; k++ ) { %>"
                            "<% if(labellingData[k].label == null) {%>" 
                                "<% labels[k] = 'null'%>"
                            "<% }else{ %>"
                                "<% labels[k] = labellingData[k].label%>"
                            "<% } %>"
                        "<% } %>"

                            
                        
                        
                            var jobComplete = "<%= jobComplete%>"
                                
                            var labels =  "<%= labels%>"

                            




                            var slideIndex = parseInt("<%= startLabelIndex + 1%>");
                            showSlides(slideIndex);

                            function plusSlides(n) {
                                showSlides(slideIndex += n);
                            }
							
                            function sendLabel() {
                                document.getElementById("currentUrl").value = window.location.href
                                document.getElementById("imgIndex").value = slideIndex
                                document.getElementById("labelForm").submit()
                            }

                            function currentSlide(n) {
                                showSlides(slideIndex = n);
                            }

                            function showSlides(n) {
                                var i;
                                var slides = document.getElementsByClassName("mySlides ");
                                if (n > slides.length) {
                                    slideIndex = 1
                                }
                                if (n < 1) {
                                    slideIndex = slides.length
							
                                }
                                for (i = 0; i < slides.length; i++) {
                                    slides[i].style.display = "none ";
                                }

                                if(jobComplete == "false"){
                                    slides[slideIndex - 1].style.display = "block ";
                                    
                                    
                                    // if(labels[slideIndex - 1 ]!=null){
                                    //     var labelTags = document.getElementsByTagName("label");
                                    //     var searchText = labels[slideIndex - 1 ];
                                    //     for (var i = 0; i < labelTags.length; i++) {
                                    //         if (labelTags[i].textContent == searchText) {
                                    //             labelTags[i].focus()
                                    //             break;
                                    //         }
                                    //         }
                                    // }
                                    
                                }
                                else{
                                    document.getElementById("labelForm2").style.display = 'none'
                                    document.getElementById("jobCompleted").style.display = 'block'
                                }
                                //window.slide = slideIndex - 1

                            }
                        </script>

                        <style>
                            .radio-toolbar {
                                margin: 10px;
                            }

                            .radio-toolbar input[type="radio"] {
                                opacity: 0;
                                position: fixed;
                                width: 0;
                            }

                            .radio-toolbar label {
                                display: inline-block;
                                background-color: rgb(255, 255, 255);
                                padding: 10px 20px;
                                font-family: sans-serif, Arial;
                                font-size: 16px;
                                border: 1px solid rgb(195, 0, 255);
                                color: rgb(195, 0, 255);
                                border-radius: 4px;
                            }

                            .radio-toolbar label:hover {
                                background-color: rgb(195, 0, 255);
                                color: #ffffff;
                                cursor: pointer;
                            }

                            .radio-toolbar input[type="radio"]:focus+label {
                                border: 2px dashed rgb(255, 255, 255);
                            }

                            .radio-toolbar input[type="radio"]:checked+label {
                                background-color: rgb(195, 0, 255);
                                border-color: rgb(195, 0, 255);
                                color: #ffffff;
                            }

                            .mySlides {
                                display: none
                            }

                            /* Slideshow container */

                            .slideshow-container {
                                max-width: 1000px;
                                position: relative;
                                margin: auto;
                            }

                            /* Next & previous buttons */

                            .prev,
                            .next {
                                cursor: pointer;
                                position: absolute;
                                top: 50%;
                                width: auto;
                                padding: 16px;
                                margin-top: -22px;
                                color: white !important;
                                font-weight: bold;
                                font-size: 18px;
                                transition: 0.6s ease;
                                border-radius: 0 3px 3px 0;
                                user-select: none;
                            }

                            /* Position the "next button " to the right */

                            .next {
                                right: 0;
                                border-radius: 3px 0 0 3px;
                            }

                            /* On hover, add a black background color with a little bit see-through */

                            .prev:hover,
                            .next:hover {
                                background-color: rgba(0, 0, 0, 0.8);
                            }

                            /* Caption text */

                            .text {
                                color: #f2f2f2;
                                font-size: 15px;
                                padding: 8px 12px;
                                position: absolute;
                                bottom: 8px;
                                width: 100%;
                                text-align: center;
                            }

                            /* Number text (1/3 etc) */

                            .numbertext {
                                color: #000000;
                                font-size: small;
                                padding: 8px 12px;
                                position: absolute;
                                top: 0;
                                font-weight: 400;
                            }

                            /* Fading animation */

                            .fadepic {
                                -webkit-animation-name: fadepic;
                                -webkit-animation-duration: 1.5s;
                                animation-name: fadepic;
                                animation-duration: 1.5s;
                            }

                            @-webkit-keyframes fadepic {
                                from {
                                    opacity: .4
                                }

                                to {
                                    opacity: 1
                                }
                            }

                            @keyframes fadepic {
                                from {
                                    opacity: .4
                                }

                                to {
                                    opacity: 1
                                }
                            }

                            /* On smaller screens, decrease text size */

                            @media only screen and (max-width: 300px) {

                                .prev,
                                .next,
                                .text {
                                    font-size: 11px
                                }
                            }
                        </style>


                        <style>
                            body {
                                justify-content: center;
                                font-size: 200%;
                            }
                        </style>
                        </div>
                    </section>
                    <% if (authenticated) { %>
                        <%- include('footer.ejs') %>
                            <% }else{ %>
                                <%- include('footer-unregistered.ejs') %>
                                    <% } %>