<title>Edit Profile</title>

<%- include('header-registered.ejs',{Firstname: name, }) %>

    <section class="user-profile section gback2">
        <div class="container">
            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    
                        
                            <div class="account-settings">
                                <div class="user-profile">
                                    <div class="sidebar" style="align-items: center;">
                                        <div class="wrapper fadeInDown" style="align-items: inherit; min-height: 0%;">
                                            <div id="formContent" style="padding: 10px; width: 110%; max-width: 800px;">
                                            <!-- User Widget -->
                                            <div class="widget user-dashboard-menu" style="margin-bottom: 0px; padding: 0px; border-radius: inherit; box-shadow: none;">
                                                <!-- User Image -->
                                                <div class="profile-thumb" style="margin-bottom: 15px;">
                                                    <img src="<%= avatar %>" alt="images/user/user-thumb.jpg" class="rounded-circle" style="width: 100px; height: 100px;">
                                                </div>
                                                <h5 class="user-name">
                                                    <%= name %>
                                                </h5>
                                                <h6 class="email">
                                                    <%= email %>
                                                </h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                        </div>
                    
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="wrapper fadeInDown" style="align-items: inherit;">
                        <div id="formContent" style="padding: 30px; width: auto; max-width: 800px;">
                            <div class="card-body" style="padding: 0;">
                                <h3>Edit Profile</h3>
                                <form action="/user-profile" method="POST" enctype="multipart/form-data">

                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-2 text-primary">Personal Details</h6>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="fullName">Name</label>
                                                <input type="text" class="form-control" name="name" id="fullName"
                                                    value="<%= name %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group choose-file">
                                        <h6 class="mt-3 mb-2 text-primary">Profile Picture</h6>
                                        <div class="widget user" style="align-items: center;">
                                            <div class="image d-flex justify-content-center">
                                                <img src="<%= avatar %>" alt="images/user/user-thumb.jpg" class="">
                                            </div>
                                            <input type="file" class="form-control-file mt-2 pt-1" name="image" id="input-file">
                                        </div>
                                    </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-3 mb-2 text-primary">Password</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="password">New Password</label>
                                        <input type="password" name=password id="password" placeholder="New Password"
                                            class="type-1 border p-3 w-100 my-2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                            name="password">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="confirmPw">Confirm Password</label>
                                        <input type="password" id="confirmPw" placeholder="Confirm Password"
                                            class="type-1 border p-3 w-100 my-2" name="password_confirm" oninput="check(this)">
                                    </div>
                                </div>
                            </div>
                            <script language='javascript' type='text/javascript'>
                                function check(input) {
                                  if (input.value != document.getElementById('password').value) {
                                    input.setCustomValidity('Password Must be Matching.');
                                  } else {
                                    // input is valid -- reset the error message
                                    input.setCustomValidity('');
                                  }
                                }
                              </script>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div style="text-align: center;">
                                        <button type="submit" id="submit" name="submit"
                                            class="btn btn-primary">Update</button>
                                        <a href="/dashboard" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <%- include('footer') %>